* {
    box-sizing: border-box;
}
body {
    background-color:black;
    color: white;
}

a {
    color: aliceblue;
}

header{
    background-color: #040e1c;
}

.headerdiv {
    display: flex;
    background-color: #040e1c;
    justify-content: space-between;
}

.logoimg {
    width: 3em;
}

.links {
    display: flex;
    gap: 20px;
    padding-top: 15px;
    padding-right: 15px;
}

.top{
    background-color: #040e1c;
    display: flex;
    justify-content: center;
    gap: 50px;
    padding-top: 50px;
}

.top1 {
    display: flex;
    flex-direction: column;
}

.mainsmalltext {
    max-width: 500px;
}

.treephoto {
    height: 300px;
}
.signup{
    padding-left: 10px;
    padding-top: 10px;    
}
.signupb {
    background: none;
    color: white;
    border: white solid 2px;
    width: 80px;
    height: 30px;
    font-size: 15px;
    font-weight: bold;
}

.signupb:hover {
    background: #3882F6;
}

.midwadana {
    font-size: 26px;
    text-align: center;
    width: 650px;
    margin: 40px auto;
    font-style: italic;
}

.mid4tos {
    display: flex;
    justify-content:center ;
    gap: 80px;
    
}

.photo {
    width: 250px;
    height: 250px;
    border-style: solid;
}

.photodis {
    width: 250px;
    margin-top: 10px;
}

.inspire {
    background-color: #040e1c;
    padding: 50px 0px;
    margin: 40px 0px;
}

.inspirep {
    font-size: 23px;
    text-align: left;
    margin: 0px auto; 
    width: 600px;
}

.authorprison {
    width: 550px;
    margin: 0px auto; 
    display: flex;
    flex-direction: column;
}

.author {
    align-self: flex-end;
    font-size: 20px;
    font-weight: bold;
}

.bot {
    display: flex;
    background: #040e1c;
    justify-content: center;
    margin: 0px auto;
    width: fit-content;
    padding: 20px 40px;
}

.boldbot{
     font-size: 20px;
     font-weight: bold;
     margin-bottom: 10px;
}

.smallbot {
    font-size: 15px;
}

.botbutton {
    margin: auto 30px;
}

footer {
    background-color: #040e1c;
    text-align: center;
    font-size: 14px;
    opacity: 60%;
    padding-top: 200px;
    margin-top: 50px;
}

