.p1 {
    font-size: 50px;
    font-style: bold;
}

.p2 {
    font-size: larger;
    font-style: bold;
}

.button {
    background: white;
    color: black;
    font-weight: bold;
    border-style: solid;   
}


.confirm {
    background: green;
    color: white;
    font-weight: bold;
}
.button:hover {
    background: red;
    color: white;

}

.confirm:hover {
    background: teal;
}

.thintext {
    font-weight: lighter;
    font-family: Verdana, Geneva, Tahoma, sans-serif;


    
}

.childdiv {
    font-weight: bolder;
    color: brown;
    text-align: center;
    background-color:yellowgreen;
    width: fit-content;
;   position-area: inherit;
    
